.center-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .guess-page {
    text-align: center;
  }
  body {
    margin: 0;
    padding: 0;
    background-image: url('C:\Users\pavit\OneDrive\Desktop\ecommerce\GuessMe\guess-me-frontend_bypavi\home.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Arial', sans-serif; /* Add your preferred font-family */
  }